{% extends 'base.html' %}

{% block title%}
  <h1> {{ survey.title }}</h1>
{% endblock %}

{% block content %}
  {% for msg in get_flashed_messages() %}
  <p style="color: red; font-weight: bold">{{ msg }}</p>
  {% endfor %}

  <p>
    {{ survey.instructions }}
  </p>

  <!--
    DO NOT CHANGE THE FORM ACTION OR METHOD
    You'll need to write the applicable code to handle this request
   -->
  <form action="/begin" method="POST">
    <label for="survey">Please choose a survey</label>
    <button>Start!</button>
  </form>

{% endblock %}
